 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We won't say anything about your style, but we do know a thing or two about how your shoes should fit. Haney Shoes has been providing Nebraska and Iowa with personalized service and extensive industry knowledge for over 75 years. Our family-owned store locations stock and order a variety of safety and casual styles from narrow to extra-wide, up to size 13 for women and size 20 for men.</p>
                </div>
                <div class="col-lg-4">
                    <p>As the first retailer to offer Red Wing's Shoemobile mobile store program, we also service over one hundred workplaces throughout the region. And every one of our customers is measured for the perfect fit. Just another way we go out of our way to give the best service possible. Some things never go out of style, and we believe customer care should be one of them. </p>
                </div>
            </div>
        </div>
    </section>
